.containerMyFooter footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerMyFooter footer a {
  color: var(--green);
}

@media (max-width: 600px) {
  .containerMyFooter footer {
    margin-top: 2.5rem;
    font-size: 0.9rem;
  }
}
